https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
umongo==3.0.0
#test
parse-torrent-name
#index
pyromod
#for check 
requests
bs4
imdbpy

#for song#YTDL
wget #this not important delaye after check song.py
aiohttp[speedups]
youtube_dl
aiofiles
youtube_search_python
yt_dlp
ffmpeg-python
